# Additional files
#*.socket
#*.service
#*/kwallet*
#*/GIMP*
#*/**/kwallet*
#*/**/GIMP*
#*/systemd
#*/**/systemd
#*/**/cookie
#**/torbrowser
#**/mochi
#**/libvirt
#**/containers
#**/tmux/plugins
#config/pulse/cookie
#**/tmux/plugins
#**/tech.trobonox.kanri/**
#config/evolution/*/**
#config/dconf/user
#config/inkscape/**
#config/WebCord/**
#config/libreoffice/**
#config/kdenlive/**
#config/kdenlive*
#config/ardour8/**
#config/kicad/**
#config/go/**
#config/Google/**
#config/unity3d/**
#config/godot/**
#config/chromium/**
#config/eww/**
#config/zoom.conf
#config/zoomus.conf
#config/monero-project/**
#config/WarThunder/**
#config/Gaijin/**
#config/QtProject.conf
#config/nvim/lazy-lock.json
#config/vlc/vlc-qt-interface.conf
#config/matplotlib/**
#config/menus/**
*
!.bashrc
!10-udisks2.rules
!LICENSE
!README.md
!pkglist-aur.txt
!pkglist-flatpak.txt
!pkglist.txt
!usr/**
!config/kitty/**
!config/hypr/**
!config/nvim/**
!config/cliphist/**
!config/dunst/**
!config/rofi/**
!config/scripts/**
!config/swww/**
!config/rofi/**
!config/systemd/**
!config/tmux/tmux.conf
!config/waybar/**
!config/wlogout/**
!config/volume-notif/**
!config/xsettingsd/xsettingsd.conf
!config/electron-flags.conf
!config/nwg-look/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
