# Ignore everything 
*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Except
!.bashrc
!10-udisks2.rules
!LICENSE
!README.md
!pkglist-aur.txt
!pkglist-flatpak.txt
!pkglist.txt
!usr/
!usr/**
!config/
!config/electron-flags.conf
!aiops/
!aiops/**

!config/kitty/
!config/hypr/
!config/nvim/
!config/cliphist/
!config/dunst/
!config/rofi/
!config/scripts/
!config/swww/
!config/rofi/
!config/tmux/
!config/waybar/
!config/xsettingsd
!config/wlogout/
!config/volume-notif/
!config/nwg-look/

!config/kitty/**
!config/hypr/**
!config/nvim/**
!config/cliphist/**
!config/dunst/**
!config/rofi/**
!config/scripts/**
!config/swww/**
!config/rofi/**
!config/systemd/**
!config/waybar/**
!config/wlogout/**
!config/volume-notif/**
!config/nwg-look/**
!config/tmux/tmux.conf
!config/xsettingsd/xsettingsd.conf
